span {
    font-size: 30px;
}

.slideshow {
    position: relative;
    width: 100%;
    height: 600px; /* adjust height */
    overflow: hidden;
}

.slideshow::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%; /* adjust fade amount */
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, white 100%);
    pointer-events: none;
    z-index: 5;
}

.slideshow img {
    padding-top: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slideshow img.active {
    opacity: 1;
}

/* Overlay content */
.slide-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* center */
    color: white;
    text-align: center;
    z-index: 10; /* above images */
}

.slide-content h1 {
    -webkit-text-stroke: 0.5px black;
    font-size: 3rem;
    margin-bottom: 20px;
    text-shadow: 0 2px 4px rgba(0,0,0,0.6);
}

.slide-content h3 {
    font-family: "Great Vibes", cursive;
    font-size: 3.5rem;
    margin-bottom: 20px;
    text-shadow: 0 2px 4px rgba(0,0,0,0.6);
}

.slide-content p {
    font-size: 1.5rem;
    margin-bottom: 30px;
    text-shadow: 0 2px 4px rgba(0,0,0,0.5);
}
.slide-content button {
    padding: 15px 30px;
    font-size: 2rem;
    -webkit-text-stroke: 0.2px black;
    background: rgba(255, 255, 255, 0.0.5); /* translucent glass */
    backdrop-filter: blur(10px); /* blur background */
    -webkit-backdrop-filter: blur(10px); /* Safari */
    border: 2px solid rgba(255, 255, 255, 0.005); /* frosted stroke */
    border-radius: 15px 15px 15px 15px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.slide-content button:hover {
    transform: scale(1.15);
    border: none;
}

/* Responsive */
@media (max-width: 768px) {
    .slide-content h1 {
        font-size: 2rem;
    }
    .slide-content p {
        font-size: 1rem;
    }
    .slide-content button {
        padding: 10px 20px;
        font-size: 0.9rem;
    }
}

.scroll-text {
    opacity: 0;                /* initially hidden */
    transform: translateY(20px); /* slightly moved down */
    transition: all 0.8s ease-out;
}

.scroll-text.show {
    opacity: 1;                /* fade in */
    transform: translateY(0);  /* move to normal position */
}
