#empty-basket img {
    align-items: center;
    height: 200px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#empty-basket h1, #empty-basket p {
    text-align: center;
}

#empty-basket h2 {
    font-size: 55px;
}

#empty-basket p {
    font-size: 25px;
}

#basket {
  padding: 30px;
  text-align: center;
}

.basket-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 15px;
  margin: 10px auto;
  width: 60%;
  border-radius: 12px;
  background: rgba(255,255,255,0.2);
  backdrop-filter: blur(8px);
}

.basket-item img {
  height: 80px;
  width: 80px;
  border-radius: 8px;
  object-fit: cover;
}

.basket-info {
  text-align: left;
}

.remove-btn {
  background: #ff4d4d;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

.remove-btn:hover {
  background: #d93636;
  transform: scale(1.05);
}

#suggested-products {
    width: 100%;
    gap: 2rem;
    display: flex;
    margin-top: 50px;
    text-align: center;
}

#suggested-products h2 {
    margin-bottom: 20px;
}

#suggested-products img {
    border-radius: 5px;
    width: 150px;      /* adjust to desired size */
    height: auto;  
}

.suggested-item {
  width: 300px;        /* bigger card width */
  height: auto;
  vertical-align: top;
  text-align: center;
  border-radius: 15px;
}

.suggested-item:hover {
  transform: scale(1.05);
}

.suggested-item img {
  width: 100%;
  height: 200px;       /* taller image */
  border-radius: 10px;
  object-fit: cover;
}

.suggested-item h3 {
  font-size: 1.2rem;
  margin: 10px 0 5px 0;
}

.suggested-item p {
  font-size: 1rem;
  margin-bottom: 10px;
}

.checkout-container {
  display: flex;
  justify-content: center; /* horizontal center */
  align-items: center;     /* vertical center */
  height: 100vh;           /* full viewport height */
}

#checkout-button {
    top: 95%;
    left: 30%;
    position: absolute;
    justify-content: center;   /* Centers horizontally */
    align-items: center;
    background: rgba(255, 255, 255, 0.0.5); /* translucent glass */
    backdrop-filter: blur(10px); /* blur background */
    -webkit-backdrop-filter: blur(10px); /* Safari */
    border: 2px solid rgba(255, 255, 255, 0.5); /* frosted stroke */
    border-radius: 15px 15px 15px 15px; /* rounded bottom corners only */
    color: black;
    z-index: 1000;
    box-sizing: border-box;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in;
    font-size: 19px;
    width: 30%;
    height: 15%;    
}