#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    background: rgba(255, 255, 255, 0.0.2); /* translucent glass */
    backdrop-filter: blur(10px); /* blur background */
    -webkit-backdrop-filter: blur(10px); /* Safari */
    border: 2px solid rgba(255, 255, 255, 0.05); /* frosted stroke */
    border-radius: 0 0 15px 15px; /* rounded bottom corners only */
    color: black;
    z-index: 1000;
    box-sizing: border-box;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

#product-1, #product-2, #product-3, #about, #product1, #product2, #product3, select, option {
    padding: 0 20px;
    background: rgba(255, 255, 255, 0.0.5); /* translucent glass */
    backdrop-filter: blur(10px); /* blur background */
    -webkit-backdrop-filter: blur(10px); /* Safari */
    border: 2px solid rgba(255, 255, 255, 0.5); /* frosted stroke */
    border-radius: 15px 15px 15px 15px; /* rounded bottom corners only */
    color: black;
    z-index: 1000;
    box-sizing: border-box;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.basket-button {
    padding: 0 20px;
    background: rgba(255, 255, 255, 0.0.5); /* translucent glass */
    backdrop-filter: blur(10px); /* blur background */
    -webkit-backdrop-filter: blur(10px); /* Safari */
    border: 2px solid rgba(255, 255, 255, 0.5); /* frosted stroke */
    border-radius: 15px 15px 15px 15px; /* rounded bottom corners only */
    color: black;
    z-index: 1000;
    box-sizing: border-box;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in;
    width: 35%;
    height: 15%;
}

.basket-button img {
    align-content: center;
    float: left;
    width: 65px;
    height: 65px;
}

.basket-button p {
    text-align: center;
    font-size: 19px;
}

.basket-button-2 {
    padding: 0 20px;
    background: rgba(255, 255, 255, 0.0.5); /* translucent glass */
    backdrop-filter: blur(10px); /* blur background */
    -webkit-backdrop-filter: blur(10px); /* Safari */
    border: 2px solid rgba(255, 255, 255, 0.5); /* frosted stroke */
    border-radius: 15px 15px 15px 15px; /* rounded bottom corners only */
    color: black;
    z-index: 1000;
    box-sizing: border-box;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in;
    width: 60%;
    height: 15%;
}

#basketMessage {
    padding: 0 20px;
    background: rgba(255, 255, 255, 0.0.5); /* translucent glass */
    backdrop-filter: blur(10px); /* blur background */
    -webkit-backdrop-filter: blur(10px); /* Safari */
    border: 2px solid rgba(255, 255, 255, 0.5); /* frosted stroke */
    border-radius: 5px 5px 5px 5px; /* rounded bottom corners only */
    color: black;
    z-index: 1000;
    box-sizing: border-box;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
