body {
    background-color: rgba(255, 255, 0, 0.15); /* yellow with 55% opacity */
    font-family: 'Poppins', sans-serif
}

img {
    height: 100px;
    width: 100px;
}

.left {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.right {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    position: relative;
    left: -40px;
}

.right img {
    width: 40px;
    height: 40px;
}

#wrapper, #basket {
    margin-top: 70px;
    width: 100%;
}

@media (max-width: 600px) {
    #header {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }
    .left, .right {
        justify-content: center;
        width: 100%;
        margin: 5px 0;
        margin-left: -50px;
    }
}

.button {
    color: black;
    background-color: white;
    border:rgba(255, 255, 0, 0.15); 
    cursor: pointer;          
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
    border-radius: 15px 15px 15px 15px;
    display: flex;
    transition: transform 0.3s ease;
    padding: 10px;
    font-size: 19px;
}

button:hover {
    transform: scale(1.2); 
}

.product-detail {
  border-radius: 15px;
  display: none;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  text-align: center;
  margin-top: 30px;
}

.product-detail img {
    border-radius: 15px;
    height: 300px;
    width: 300px;
}

.product-detail.show {
  display: block;
  opacity: 1;
  transform: translateY(0);
}
